{% load static django_ai_chat_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{% static 'django-ai-chat/chat.png' %}">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css"> 
    <style>
     header { padding-top: 1rem; padding-bottom: 0 }
     nav { margin-bottom: 0 }
     main { padding: 1rem }
     section { max-width: 40rem; margin: 0 auto }
     section aside { width: 100%; margin: 1rem 0 }
     section form { width: 100% }
     button { float: right }
     #section-assistant { padding-top: 1rem }
    </style>
    <meta charset="utf-8">
    <meta name="description" content="Chat">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'new-chat' %}"><img alt="Chat Logo" src="{% static 'django-ai-chat/chat.png' %}" height="70"></a>
        <ul>
          <li><a href="{% url 'new-chat' %}">New Chat</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="section-send">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="action" value="user">
          <label>User</label>
          <textarea cols="40" rows="5" name="message"></textarea>
          <button type="submit">Send</button>
        </form>
      </section>
      <section id="section-assistant">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="action" value="assistant">
          <button type="submit">Generate</button>
        </form>
      </section>
      {% for message in messages %}
        <section id="section-{{ message.id }}">
          <aside>
            <h3>{{ message.role|title }}</h3>
            {{ message.content|markdown }}
          </aside>
        </section>
      {% endfor %}
    </main>
  </body>
</html>
